# Global ignore settings
**__pycache__/
Data

# environment variables
.env

# Build output directories
dist
dist-ssr

# Local environment files
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?