# * BACK-END

**__pycache__/

# Python virtual environment
backend/.venv/

# sensitive settings.py
**settings.py

# environment variables
.env

# Build output directories
dist
dist-ssr

# Local environment files
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?